#admin_layout {
  .q-toolbar__title{
    text-align: center;
  }
  .q-avatar {
    position: relative;
  }
  // list çš„ exact class
  .my-menu-link {
    color: $primary;
  }
  #camera {
    position: absolute;
    right: -5%;
    bottom: -5%;
  }
  #avatar {
    display: none;
  }
  @include md {
    .q-drawer {
      width: 300px !important;
    }
  }
  @include lg {
    .q-toolbar__title{
      text-align: left;
    }
  }


}