#admin_layout {
  .q-toolbar__title{
    text-align: center;
  }
  .q-avatar {
    position: relative;
  }
  // list 的 exact class
  .my-menu-link {
    color: $primary;
  }
  #camera {
    position: absolute;
    right: -15%;
    bottom: -15%;
  }
  @include md {
    .q-drawer {
      width: 300px !important;
    }
  }
  @include lg {
    .q-toolbar__title{
      text-align: left;
    }
  }


}