#home_layout {
// 首頁navbar透明
  .q-layout__section--marginal {
    background-color: transparent;
  }
  .my-menu-link {
    color: white;
    background: $primary;
  }
  .q-card {
    width: 100%;
  }

  


  .q-drawer-container {
    display: block;
  }
  @include md {
    .q-drawer {
      width: 400px !important;
      .q-item{
        padding: 1.5rem 1rem;
      }
      .q-item__label{
        font-size: 1.5rem;
      }
    }
  }
  @include lg { 
    .q-drawer-container {
      display: none;
    }
  }
}


