#main_layout{
  .q-toolbar__title{
    text-align: center;
  }
  .my-menu-link {
    color: white;
    background: $primary;
  }
  .logo {
    margin: 0 auto;
    position: relative;
    left: 40%;
    transform: translate(-50%,0);
    a {
      display: inline-block;
      background: url('@/assets/logo.svg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 150px 100px;
      width: 150px;
      height: 36px;
      text-indent: 101%;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  @include md {
    .logo{
      left: 45%;
      transform: translate(-50%,0);
    }
    .q-drawer {
      width: 400px !important;
      .q-item{
        padding: 1.5rem 1rem;
      }
      .q-item__label{
        font-size: 1.5rem;
      }
    }
  }

  @include lg {
    .q-toolbar__title{
      text-align: left;
    }
    .logo{
      left: 0%;
      transform: translate(0,0);
    }
  }
}
.q-tab__label{
  font-weight: 600;
  letter-spacing: .1rem;
}