#about_us {
  h3 {
    margin-top: 0;
    letter-spacing: .05rem;
  }
  h6 {
    line-height: 2rem;
    letter-spacing: .01rem;
  }
  img {
    border-radius: 8px;
  }
  .q-parallax {
    border-radius: 8px;
    img {
      width: 800px;
    }
  }
  .q-col-gutter-y-md > *, .q-col-gutter-md > * {
    padding-top: 0;
  }
  .about_img {
    padding-bottom: 2rem;
  }

  @include lg {
    .row_reverse {
      flex-direction: row-reverse;
    }
    .q-col-gutter-y-md > *, .q-col-gutter-md > * {
      padding-top: 16px;
    }
  }
}
