#admin_layout {
  h5{
    margin-bottom: 1rem;
  }
}
.ql-editor{
  height: 280px !important;
}

// AdminPage
.form_container {
    width: 100%;
  @media (min-width: $breakpoint-sm) {
    width: 70%;
  }
  @media (min-width: $breakpoint-md) {
    width: 60%;
  }
}
#birth{
  margin-bottom: 20px;
}

// ApplicationStatus
#helper_table,
#host_table,
#job_table {
  a {
    color: $dark;
    text-decoration: none;
  }
  p {
    margin: 0 0 8px;
  }
  .q-table th{
    font-weight: 600;
    font-size: .9rem;
    letter-spacing: .1rem;
  }
  .q-card {
    height: 100%;

  }
}

// manage jobs
#plus {
text-align: right;
}