#toolbar{
  color: $dark;
  // background: transparent;
  ul{
    display: inline-block;
    margin: 0;
  }
  li {
    list-style: none;
    display: inline-block;
    padding: 0 1rem;
    a {
      text-decoration: none;
      font-weight: 600;
      color: $dark;
      font-size: 1rem;
      &:active{
      color: red;
      }
    }
  }
}