
.description{
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.title{
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#job_search_area {
  border: 5px double $white;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  padding: 2rem 3rem;
  .search_class {
    width: 100px;
  }
}

.job_card {
  .text-overline {
    line-height: normal;
  }
  .q-card__section{
    height: 200px;
  }

  img {
    border-radius: 8px 8px 0 0 ;
  }

  .q-chip {
    margin-left: 0;
  }
}