.container {
  width: 100%;
  padding: 1rem;

  @include lg {
  width: 1100px;
  }
}
.footer_logo {
  width: 150px;
}
.swal2-styled.swal2-confirm {
  border-radius: 0.5em !important;
  background-color:#ff7e00 !important;
}
.q-card>.justify-end {
  justify-content:center;
}

.q-btn:before {
  box-shadow: none
}

.q-data-table td, .q-data-table th {
  /* don't shorten cell contents */
  white-space: normal !important;
}
